.modalDel {
  /* top: +50%; */
  transform: translateY(+100%);
  padding: 50px;
  margin: auto;
  background: rgb(40, 40, 40);
  width: 500px;
  border-radius: 10px;
}

.btnContainer {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  gap: 40px;
}

.btnDel {
  background-color: red;
}
